<ion-header>
  <ion-toolbar>
    <ion-title>Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Plan: {{ plan | titlecase }}</h2>
  <p>Total a pagar: S/. {{ amount | currency: 'PEN' }}</p>

  <h2>Pagar con Google Pay</h2>
  <google-pay-button
    [environment]="'TEST'"
    [paymentRequest]="paymentRequest"
    (loadPaymentData)="onLoadPaymentData($event)">
  </google-pay-button>




  <h3>Otras formas de pago</h3>

  <!-- Botón de PayPal -->
  <script src="https://www.paypal.com/sdk/js?client-id=Ab6SrshSs4LZTwq8CBVPvxGN5SiyV2iKuoRTLwREP8N88h3sicLWF8HX4pXXmZdL6WsKZM_JIRrGJZwo"></script>
  <div id="paypal-button-container"></div>



  <!-- Botón de Yape -->
  <ion-button (click)="showYapeQr()">Mostrar QR de Yape</ion-button>
  <h3>Pagar con Yape</h3>
  <div *ngIf="showQr">
    <h3>Escanea el código QR con la app de Yape</h3>
    <img src="./assets/imgs/qr.jpg" alt="Código QR de Yape" />
  </div>

</ion-content>
