<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="register-container">
    <h1>¿Aún no tienes una cuenta?</h1>
    <p>Regístrate para crear una cuenta</p>

    <div class="illustration">
      <img src="https://plus.unsplash.com/premium_photo-1720192861639-1524439fc166?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Ilustración" />
    </div>

    <form>
      <!-- Nombre completo -->
      <ion-item class="input-group">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-input placeholder="Nombre completo" type="text"></ion-input>
      </ion-item>

      <!-- Fecha de nacimiento -->
      <ion-item class="input-group">
        <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
        <ion-input placeholder="Fecha de nacimiento" type="date"></ion-input>
      </ion-item>

      <!-- Correo electrónico -->
      <ion-item class="input-group">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Correo electrónico" type="email"></ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item class="input-group">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-input placeholder="Contraseña" type="password"></ion-input>
      </ion-item>

      <!-- Confirmar contraseña -->
      <ion-item class="input-group">
        <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
        <ion-input placeholder="Confirmar contraseña" type="password"></ion-input>
      </ion-item>

      <!-- Botón de registro -->
      <ion-button expand="block" class="register-button">Registrarse</ion-button>
    </form>
  </div>
</ion-content>
