ion-content{
  --background: url('../../../assets/imgs/5.jpg') no-repeat center center/cover;
  ion-grid{
    transform:translateY(10vh);
    ion-label, p{
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: 0.8px;
    }
  }
}


ion-footer {
  ion-row {
      padding-top: 5vh;
      background: transparent;
      display: block;
      ion-fab-button {
          margin-right: 2.5vh;
      }
      ion-list {
          border-radius: 30px 30px 0 0;
          ion-list-header {
              ion-label {
                  font-weight: bold;
                  font-size: 1.8em;

              }
          }
          ion-input, ion-text {
              font-size: 0.9em;
          }

      .error {
          font-size: 0.75em !important;
      }
      }
  }
}


.form-container {
  background-color: #004aad;
  padding: 20px;
  border-radius: 10px;
}

.error {
  font-size: 12px;
  color: red;
}

ion-button {
  --background: #004aad;
  --color: white;
}



ion-item {
  --background: #004aad;
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
  margin-bottom: 10px;
  border-radius: 8px;
}

ion-input {
  --color: #fff;
  --placeholder-color: #c0c0c0;
  font-size: 1em;
}


ion-icon {
  color: #fff;
}


.error {
  font-size: 0.75em;
  color: #ff4d4d;
  margin-left: 8px;
}
